# 1. Declaración de variables

In [1]:
a = 5

In [2]:
b = 2.32

In [3]:
c = 'Hola'

In [4]:
a

5

In [5]:
b

2.32

In [6]:
c

'Hola'

In [7]:
print(a)
print(b)
print(c)

5
2.32
Hola

# 2. Comentarios

Una línea

In [8]:
# Comentario simple, una línea

In [9]:
v = a # La variable tomará el valor de la variable a que es 5

Multilínea

In [10]:
"""
Ejemplo de comentario de varias líneas:
línea 1
línea 2
....
línea n
"""

'\nEjemplo de comentario de varias líneas:\nlínea 1\nlínea 2\n....\nlínea n\n'

In [11]:
"""También se puede realizar en una línea un comentario multilínea"""

'También se puede realizar en una línea un comentario multilínea'

# 3. Operadores

## 3.1 Aritméticos

In [12]:
a = 5
b = 2

In [13]:
a + b #Suma

7

In [14]:
a - b #Resta

3

In [15]:
a * b #Multiplicación

10

In [16]:
a / b #División

2.5

In [17]:
a % b #Resto

1

In [18]:
a ** b  #Exponencial

25

In [19]:
a // b #División entera

2

## 3.2 Operadores de asignación

In [20]:
z = 100 # Asignación

In [21]:
z += 20 # Suma de z más valor nuevo, equivalente a: x = x + n
z

120

In [22]:
z -= 20 # Resta de z menos el valor nuevo, equivalente a: x = x - n
z

100

In [23]:
z *= 2 # Multiplicación de z * n, equivalente a: x = x * n
z

200

In [24]:
z /= 4 # División z entre n, equivalente a: x = x / n
z

50.0

In [25]:
z %= 7 # Resto de z entre n, equivalente a: x = x % n
z

1.0

In [26]:
z = 100
z //= 3 # Deivisión entera de z entre n, equivalente a: x = x // n
z

33

In [27]:
z **= 3 # Exponencial de x a n, equivalente a: x = x ** n
z

35937

## 3.3 Comparadores

In [28]:
x = 100

* __Mayor que__. Devuelve __True__ si la variable es mayor que el valor de la expresión, si no __False__

In [29]:
x > 5

True

* __Menor que__. Devuelve __True__ si la variable es menor que el valor de la expresión, si no __False__

In [30]:
x < 5

False

* __Mayor o igual que__
* __Menor o igual que__

In [31]:
x >= 100

True

* __Igual que__: Devuelve __True__ si ambos valores son iguales, si no __False__

In [32]:
x == 100

True

In [33]:
x == '100'

False

* __Distinto que__: Devuelve __True__ si ambos valores son diferentes, si no __False__

In [34]:
x != 100

False

* __and__: Devuelve __True__ si las condiones de la igualdad se cumplen, si no devuelve __False__

In [35]:
x > 36 and x < 200

True

In [36]:
x > 36 and x > 200

False

* __or__: Devuelve __True__ si una de las condiciones de la igualdad se cumplen, si ninguna se cumple devuelve __False__

In [37]:
x > 36 or x > 200

True

* __not__: Funciona en sentido inverso, es decir si el operador __and__ devuelve __True__ la condición devolverá __False__

In [38]:
not(x > 36 and x < 200 )

False

## 3.4 Operadores de indentidad

In [39]:
a is x # Devuelve True si ambos términos son iguales, si no false

False

In [40]:
a is not x # Devuelve True si ambos términos son distintos, si no false

True

## 3.5 Operadores de pertenencia.

In [41]:
cadena = 'hola'

In [42]:
'a' in cadena # Devuelve True si el primer elemento está en el segundo, si no false

True

In [43]:
'a' not in cadena # Devuelve False si el primer elemento está en el segundo, si no True

False

# 4. Tipos de variables

* Numéricas:
    - Enteros - int.
    - Decimales - float.
* Cadenas de texto - string.
* Booleanos.

In [44]:
entero = 5
print(entero)

5

In [45]:
decimal = 6.2435
print(decimal)

6.2435

In [46]:
cadena = 'Hola mundo !'
print(cadena)

Hola mundo !

In [47]:
boolean_t = True
print(boolean_t)

True

In [48]:
boolean_f = False
print(boolean_f)

False

Conociendo el tipo de una variable, utilizar función <code>__type()__</code>

In [49]:
type(entero)

int

In [50]:
type(decimal)

float

In [51]:
type(cadena)

str

In [52]:
type(boolean_t)

bool